$bodyBg: #edefff;
$mainBg: #fff;
$mainColor: #4B49AC;
$txtColor: #444444;
$white: #fff;
$black: #000;
$blue: #8583D4;
$red: #ff0000;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.1rem;
$fontSizeLarge: 1.2rem;

$sideBarWidth: 240px;
$sideBarLogoHeight: 171px;
$spacing: 30px;
$mobileSpacing: 20px;
$borderRadius: 20px;

$mobile-width: 600px;
$tablet-width: 1080px;

