.get-code-page {
    display: grid;
    grid-template-columns: 30% calc(70%);
    margin: 20px;

    .left-panel {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 35px;
        border-right: 1px dashed #aaa;
    }

    .right-panel {
        margin-left: 35px;
        width: calc(100% - 35px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        .code-pool {
            border: 1px solid black;
            border-radius: 10px;
            width: 100%;
            height: 68vh;
            overflow-y: scroll;
            background-color: white;
        }

        >div {
            padding: 10px;
        }

        .json-code {
            padding-left: 20px !important;

            >p {
                padding-left: 20px !important;
            }
        }

        .right-panel-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >button {
                width: 60px;
                height: 40px;
            }
        }

        .copy-btn {
            position: absolute;
            right: 0;
            top: 0;
            width: fit-content !important;
        }

        .pagination {
            align-self: flex-end;
        }
    }
}

.json-code {
    padding-left: 20px !important;

    >p {
        padding-left: 20px !important;
    }
}

.construction-wrapper {
    .construction-navigation {
        display: grid;
        grid-template-columns: auto auto;

        >a {
            >div {
                border-bottom: 3px solid transparent;
                padding: 10px 10px 25px;
                text-align: center;
                font-weight: 700;
            }

            .active {
                border-bottom: 3px solid #4b49ac;
                color: #4b49ac;
            }
        }
    }

    .construction-page {
        padding: 15px 0;
    }
}